table {
    font-size: x-large;
    /* font-weight: 100; */
    border: 5px solid blue;
}
table td {
    padding: 20px;
    background-color: aqua;
    /* width: max-content; */
}
table tr th {
    padding: 5px;
    color: red;
    background-color: aquamarine;
}
table td:first-child{
    width: 100px;
    align-content: center;
}
table td:nth-child(2){
    width: 300px;
}
table td:nth-child(2n+1){
    background-color: chartreuse;
}